extends ../root.pug

prepend head
    - var title = 'Статистика';
    - var description = 'Просмотр статистики';

block content
    .section.main-section.statistic
        .container
            .row.align-items-stretch.mt-4
                .sidebar.col-12.col-md-4
                    div.alert.alert-primary(role="alert") Добрый день, Alex
                    ul.sidebar__nav.nav.flex-column.bg-light.pt-3.pb-3.rounded
                        li.nav-item.active
                            span.nav-link.active Статистика
                        li.nav-item
                            a.nav-link(href="/users-list.html") Пользователи
                        li.nav-item
                            span.nav-link
                                a.btn.btn-sm.btn-secondary(href="/login.html") Выход
                .content.col-12.col-md-8
                    h1.h1 Статистика
                    .statistic__chart.chart.mt-2.border.rounded.mt-4(id="stat-chart")
                    form.form.statistic__filter.mt-4(id="stat-filter" action="/statistic.html", method="post")
                        .form-row.align-items-center
                            .col-auto
                                label Начало диапазона:
                                input.form-control(
                                    type="datetime-local",
                                    name="stat-start",
                                    id="stat-start",
                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}",
                                    min="2017-06-01T08:30",
                                    max="2020-06-30T16:30"
                                )
                            .col-auto
                                label Конец диапазона:
                                input.form-control(
                                    type="datetime-local",
                                    name="stat-end",
                                    id="stat-end",
                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}",
                                    min="2017-06-01T08:30",
                                    max="2020-06-30T16:30"
                                )
                            .col-auto
                                label Шаг:
                                select.custom-select(name="stat-step")
                                    option(value="5", selected) 5 минут
                                    option(value="30") 30 минут
                    .alert.alert-secondary.mt-5(role="alert") <strong>Последняя активность клиента:</strong> 25 января 2020, 18:41:53
    script(id="stat-tootip", type="text/x-template")
        span ${date}<br>
        span ${value}
